@media(max-width:1000px){
    .home-page {
        .hero-section {
            &-content{
                scale: 0.9;
                &-title{
                    h3 {
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    .home-page {
        .hero-section {
            &-content{
                flex-direction: column;
                .img-one {
                    display: none;
                }
            }
        }
    }
}
@media(max-width:660px){
    .home-page .hero-section{
        .hero-section {
            &-content{
                &-title {
                    h2{
                        font-size: 1.5rem;
                    }
                    h3{
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}
