.loader-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        width: fit-content;
        font-weight: bold;
        font-family: monospace;
        font-size: 3rem;
        background: linear-gradient(90deg, $main-color 50%, #0000 0) right/200% 100%;
        animation: loading 1s infinite linear;
        &::before {
            content: "Loading...";
            color: #0000;
            padding: 0 5px;
            background: inherit;
            background-image: linear-gradient(90deg, #fff 50%, $main-color 0);
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}

@keyframes loading {
    100% {
        background-position: left;
    }
}
