* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik , sans-serif;
    line-height: 1.4;
}

@font-face {
    font-family: Rubik;
    src: url("../assets/Fonts/Rubik-Regular.woff") format("woff"), url("../assets/Fonts/Rubik-Regular.woff2") format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: Rubik;
    src: url("../assets/Fonts/Rubik-Medium.woff") format('woff'),url("../assets/Fonts/Rubik-Medium.woff2") format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: Rubik;
    src: url("../assets/Fonts/Rubik-SemiBold.woff") format('woff'), url('../assets/Fonts/Rubik-SemiBold.woff2') format('woff2');
    font-weight: 800;
}
@font-face {
    font-family: Rubik-Wet;
    src: url("../assets/Fonts/RubikWetPaint-Regular.woff") format('woff'), url('../assets/Fonts/RubikWetPaint-Regular.woff2') format('woff2');

}

a {
    color: #2d2d2d;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.3rem;
}
h3 {
    font-size: 2.1rem;
}
h4 {
    font-size: 1.9rem;
}
h5 {
    font-size: 1.7rem;
}
h6 {
    font-size: 1.5rem;
}
p {
    font-size: 1.2rem;
}

.container{
    margin-inline:10rem ;
}
.x-padding {
    padding-inline: 10rem;
}

.custom-header {
    font-size: 1.4rem;
    font-weight: 600;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}

