@media (max-width: 1240px) {
    .x-padding {
        padding-inline: 8em;
    }
}
@media (max-width: 1130px) {
    .x-padding {
        padding-inline: 6em;
    }
}
@media (max-width: 1040px) {
    .x-padding {
        padding-inline: 5em;
    }
    h1 {
        font-size: 3.7rem;
    }
    h2 {
        font-size: 3.7rem;
    }
    h3 {
        font-size: 3.2rem;
    }
    h4 {
        font-size: 2.9rem;
    }
    h5 {
        font-size: 2.2rem;
    }
    h6 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1rem;
    }
    
}
