
.email-submit-input {
    width: 450px;
    height: 45px;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    border: 1px solid #2d2d2d5d;
    input {
        width: 100%;
        height: 45px;
        padding: 10px 120px 10px 10px;
        border: none;
        outline: 0;
    }
    button {
        position:absolute; 
        height: 80%;
        right:4px;
        bottom: 50%;
        transform: translateY(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
    }
}

@media(max-width:550px){
    .email-submit-input {
        width: 100%;
        input {
            padding-inline-end: 90px;
        }
        button {
            padding: 1rem;
        }
    }
}
