.dropdown {
    width: 100%;
    // height: 100%;
    position: relative;
    font-family: Arial, sans-serif;

    &-header {
        padding: 1em;
        height: 100%;
        background-color:  $main-color;
        color: #FFF;
        border: 2px solid #2d2d2d2d;
        border-radius: 0.2em;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-weight: bold;

        .arrow {
            width: 10px;
            height: 10px;
            border-right: 4px solid #FFF;
            border-bottom: 4px solid #FFF;
            transform: rotate(45deg);
            transition: transform 0.3s;

            &.open {
                transform: rotate(-135deg);
            }
        }
    }

    &-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid #2d2d2d2d;
        border-radius: 0.2em;
        border-top: none;
        overflow-y: auto;
        z-index: 3;
        .dropdown-item {
            padding: 10px;
            border-bottom: 1px solid #73737328;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: $main-color;
            }
        }
    }
}
