.filter-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($color: #2d2d2d, $alpha: 0.4);
    margin-bottom: 24px;
    & > h3 {
        font-size: 1.3rem;
        font-weight: 400;
        padding-bottom: 1rem;
        text-transform: capitalize;
    }
    span {
        font-size: 1.2rem;
        transition: 0.3s;
    }
    .filter-taps {
        display: flex;
        align-items: center;
        gap: 20px;
        .tap-container {
            span {
                display: inline-block;
                padding-bottom: 1rem;
                opacity: 0.6;
                transition: 0.3s;
                &:hover {
                    opacity: 1;
                }
            }
            cursor: pointer;
            position: relative;
            &.active span {
                opacity: 1;
            }
            &.active::before,
            &:hover::before {
                content: "";
                position: absolute;
                height: 3px;
                width: 55px;
                left: 50%;
                bottom: -2px;
                transform: translateX(-50%);
                background-color: $main-color;
                transition: 0.3s;
            }
            &.active::after,
            &:hover::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -7px;
                border: 7px solid;
                border-color: $main-color transparent transparent transparent;
                transform: translate(-50%, 50%);
                transition: 0.3s;
            }
        }
    }
}

@media (max-width: 1000px) {
        .filter-tabs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
}

@media (max-width: 400px){
    .filter-tabs{
        span{
            font-size: 1rem;
        }
    }
}