.sponsors-section{
    height: 30vh;
    padding-top: 5rem;
    margin-bottom:5rem ;
    border-top: 1px solid #2d2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &-icons {
        width: calc((100% - 4rem) / 5);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 50%;
            opacity: 0.4;
            transition: 0.4s;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}


@media(max-width:768px) {
    .sponsors-section{
        &-icons {
            img {
                width: 80%;
            }
        }
    }
}